{% extends 'base.html' %}

{% block title %} Add New Ingest Member {% endblock %}

{% block content %}
<div class="main_add_user_container">
    <form method="POST" class="add_user_form">
        <input type="text" id="firstname" name="firstname" class="add_user_input" placeholder="First Name" required>
        <input type="text" id="lastname" name="lastname" class="add_user_input" placeholder="Last Name" required>
        <input type="email" id="email" name="email" class="add_user_input" placeholder="Email" required>
        <input type="password" id="password" name="password" class="add_user_input" placeholder="Password" required>
        <input type="submit" class="add_user_button" value="Save">
    </form>
</div>

{% endblock %}