{% extends 'base.html' %}

{% block title %} Archived Tasks {% endblock %}

{% block content %}
<div class="main_container">
    <div class="task_list">
        <table class="main_table">
            <thead>
                <th>Task Title</th>
                <th>Status</th>
                <th>Level</th>
            </thead>
            <tbody>
                {% for task in archived_tasks %}
                    <tr class="table_container">
                        <td class="cell_container"><a href="/archive/{{task.id}}">{{ task.title }}</a></td>
                        <td class="cell_container">{{ task.status }}</td>
                        <td class="cell_container">{{ task.level }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}