{% extends 'base.html' %}

{% block title %} Detailed Page {% endblock %}

{% block content %}
<div class="main_container">
    <div class="detailed_post_container">
        <h1 class="task_title">{{detailed_post['title']}}</h1>
        <div class="task_body">
            <p class="task_text">{{detailed_post['message']}}</p>
        </div>

        <div class="task_legenda">
            <table class="task_legenda_main_container">
                <tr class="task_legenda_container">
                    <td class="cell_head">Assigned</td>
                    <td class="cell_body">{{detailed_post['assigned']}}</td>
                </tr>
                <tr>
                    <td class="cell_head">Status</td>
                    <td class="cell_body">{{detailed_post['status']}}</td>
                </tr>
                <tr>
                    <td class="cell_head">Level</td>
                    <td class="cell_body">{{detailed_post['level']}}</td>
                </tr>
                <tr>
                    <td class="cell_head">Created by</td>
                    <td class="cell_body">{{detailed_post['author']}}</td>
                </tr>
                <tr>
                    <td class="cell_head">Creation date</td>
                    <td class="cell_body">{{detailed_post['creation_date']}}</td>
                </tr>
                <tr>
                    <td class="cell_head">Deadline</td>
                    <td class="cell_body">{{detailed_post['deadline']}}</td>
                </tr>
            </table>
        </div>

        <div class="buttons">
            <a href="/{{detailed_post['id']}}/edit" class="button">Edit</a>
            <a href="/{{detailed_post['id']}}/delete" class="button">Delete</a>
            <a href="/" class="button">Back</a>
        </div>


        <div class="comment_list">
            {% for comment in comments %}
                <div class="comment_text">
                    <p><i>{{ comment['message'] }}</i></p><br>
                </div>
                <div class="comment_details">
                    <ul class="ul_comment">
                        <li class="li_comment"><p><i>{{ comment['author'] }}</i></p></li>
                        <li class="li_comment"><p><i>{{ comment['creation_date'] }}</i></p></li>
                    </ul>
                </div>
            {% endfor %}
        </div>

        <div class="add_comment">
            <form  action="" method="POST">
                <textarea class="feedback-input" name="message" id="message" cols="30" rows="10" required></textarea><br>
                <input type="submit" value="Send"><br>
        </form>
        </div>
    </div>
    </div>

</div>
{% endblock %}