{% extends 'base.html' %}

{% block title %} Task Manager - Edit Current Task {% endblock %}

{% block content %}
<div class="main_container">
    <form method="POST">
        <input class="feedback-input" type="text" id="firstname" name="firstname" value="{{old_data.firstname}}" required>
        <input class="feedback-input" type="text" id="lastname" name="lastname" value="{{old_data.lastname}}" required>
        <input class="feedback-input" type="email" id="email" name="email" value="{{old_data.email}}" required>
        <input type="submit" value="Save">
    </form>
</div>
{% endblock %}