{% extends 'base.html' %}

{% block title %} Task Manager - Edit Current Task {% endblock %}

{% block content %}
<div class="main_container">
    <form action="" method="POST">
        <input class="feedback-input" type="text" id="title" name="title" value="{{old_data['title']}}" required><br>
        <textarea class="feedback-input" name="message" id="message" cols="40" rows="10" required>{{old_data['message']}}</textarea><br>
        <select class="feedback-input" name="status" id="status">
            <option value="{{old_data['status']}}">{{old_data['status']}}</option>
            <option value="Opened">Opened</option>
            <option value="In Progress">In Progress</option>
            <option value="Waiting for check">Waiting for Check</option>
            <option value="Approved">Approved</option>
            <option value="Archive">Archive</option>
        </select><br>
        <input class="feedback-input" type="date" id="date" name="date" value="{{ old_data['deadline'] }}">
        <select class="feedback-input" name="assigned" id="assigned">
            <option value="unassigned">Unassigned</option>
            {% for user in users %}
                <option value="{{user.firstname}} {{user.lastname}}">{{user.firstname}} {{user.lastname}}</option>
            {% endfor %}
        </select><br>
        <select class="feedback-input" name="level" id="level">
                <option value="{{old_data['level']}}">{{old_data['level']}}</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
                <option value="Urgent">Urgent</option>
        </select><br>
        <select class="feedback-input" name="assigned_project" id="assigned_project">
                <option value="Single Task">Single Task</option>
                {% for project_title in project_titles %}
                    <option value="{{ project_title.title }}">{{ project_title.title }}</option>
                {% endfor %}
        </select>
        <input type="submit" value="SAVE"><br>
    </form>
</div>

{% endblock %}