{% extends 'base.html' %}

{% block title %} Task Manager - Member List {% endblock %}

{% block content %}
<div class="main_container">
    <table class="fixed_headers">
            <thead class="table_head">
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="table_container">
                    <td class="cell_container"><a href="/user/{{user.id}}">{{ user.firstname }} {{ user.lastname }}</a></td>
                    <td class="cell_container"><a href="/user/{{user.id}}/edit">Edit</a></td>
                    <td class="cell_container"><a href="/user/{{user.id}}/delete">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>

{% endblock %}