{% extends 'base.html' %}

{% block title %} Task Manager - Member List {% endblock %}

{% block content %}
<div class="member_list_container">
    <table class="member_list_table">
        <thead class="member_list_table_head">
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="member_list_table_container">
                    <td class="member_list_cell_container"><a href="/user/{{user.id}}">{{ user.firstname }} {{ user.lastname }}</a></td>
                    <td class="member_list_cell_container"><a href="/user/{{user.id}}/edit">Edit</a></td>
                    <td class="member_list_cell_container"><a href="/user/{{user.id}}/delete">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}