{% extends 'base.html' %}

{% block title %} Project Details {% endblock %}

{% block content %}
<div class="project_main_container">
    <h1 class="task_title">{{ proj_details.title }}</h1>
    <div class="task_body">
        <p class="task_text">{{ proj_details.description }}</p>
    </div>
    <div class="buttons">
        <a href="/project/{{proj_details['id']}}/edit" class="pt-button">Edit</a>
        <a href="/project/{{proj_details['id']}}/delete" class="pt-button">Delete</a>
    </div>
    <div class="project_stats">
        <span><b>Total number of tickets: {{total_project_tickets['COUNT(*)']}}</b></span><br>
        <span><b>Tickets "In Progress": {{in_progress_ticket['COUNT(*)']}}</b></span><br>
        <span><b>Tickets "Waiting for check": {{not_checked_ticket['COUNT(*)']}}</b></span><br>
        <span><b>Tickets "Approved": {{approved_ticket['COUNT(*)']}}</b></span><br>
        <span><b>Finished tickets: {{finished_ticket['COUNT(*)']}}</b></span><br>
        <span><b><i>Number of Urgent priority tickets: {{urgent_ticket['COUNT(*)']}}</i></b></span><br>
        <span><b><i>Number of High priority tickets: {{high_ticket['COUNT(*)']}}</i></b></span><br>
        <span><b><i>Number of Medium priority tickets: {{medium_ticket['COUNT(*)']}}</i></b></span><br>
        <span><b><i>Number of Low priority tickets: {{low_ticket['COUNT(*)']}}</i></b></span><br>
    </div>
    <div class="project_ticket_list">
        <table>
                <thead>
                    <th>Project</th>
                    <th>Level</th>
                    <th>Status</th>
                    <th>Created at</th>
                    <th>Deadline</th>
                    <th>Assigned to</th>
                </thead>
                <tbody>
                    {% for ticket in ticket_list %}
                        <tr>
                            <td class="project_ticket_list_cell"><a href="#">{{ticket.title}}</a></td>
                            <td class="project_ticket_list_cell">{{ticket.level}}</td>
                            <td class="project_ticket_list_cell">{{ticket.status}}</td>
                            <td class="project_ticket_list_cell">{{ticket.creation_date}}</td>
                            <td class="project_ticket_list_cell">{{ticket.deadline}}</td>
                            <td class="project_ticket_list_cell">{{ticket.assigned}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}