{% extends 'base.html' %}

{% block title %} Task Manager - Projects {% endblock %}

{% block content %}
<div class="main_container">
    <div class="project_create_button">
        <a href="/create_project" class="create_project_btn">Create Project</a>
        <div class="project_list">
            <table class="projects_main_table">
                <thead>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Level</th>
                    <th>Author</th>
                    <th>End Date</th>
                </thead>
                <tbody>
                    {% for project in projects_list %}
                        <tr class="projects_table_container">
                            <td class="projects_cell_container"><a href="/project/id={{project.id}}">{{ project.title }}</a></td>
                            <td class="projects_cell_container">{{ project.status }}</td>
                            <td class="projects_cell_container">{{ project.level }}</td>
                            <td class="projects_cell_container">{{ project.author }}</td>
                            <td class="projects_cell_container">{{ project.end_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}